/*

references for the website:

references for tables:
    o https://www.w3schools.com/html/html_tables.asp


    
*/
/* seprate id tags for different backgrounds in the body tag of each page */
#BGindex{
  background-image: url('../Images/BGindex.jpg');
/* view height and percentage are responsive units in html. making sure users on different devices can access our website easily */
  height:100vh;
  width: 100%;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;              /* optional, center the image */
}
#BGparks{
  background-image: url(../Images/BGparks.jpg);

  height:100vh;
  width: 100%;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;              /* optional, center the image */
}
#BGmountains{
  background-image: url(../Images/BGmountains.jpg);

  height:100vh;
  width: 100%;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;              /* optional, center the image */
}

/* Add a black background color to the top navigation */
	.navbar {
        background-color: #CCCCCC;
        overflow: hidden;
        width: 100%;
      }
      /* Style the links inside the navigation bar */
      .navbar a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
      }
      /* this will make the second largest header centered in the page */
      h2 {
         text-align: center;
      }

#goLeft{
  text-align: left;
}

/* this is a class to center stuff */
.center {
  text-align: center;
  margin: auto;
  width: 50%;
}

th, td {
  text-align: left;
  /* padding: 8px; */
}
/* the line below will make every even row in the table light blueish, gray */
tr:nth-child(even) {background-color: #f2f2f2;} 

/* this will break the words if any container so they stay inside the container */
.breakWords{
  word-break: break-word;
}

/* this wil make the table take up 100% of the width in the container */
#forAllTables{
  width: 100%;
}

/* this is the background for the div container */
.MountainColor{
  background-color: rgba(240, 248, 255, 0.66);
}

 .IndexColor{
  background-color: rgba(240, 255, 249, 0.574);
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
}
